<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IslamiCompose"
        tools:targetApi="31">
        <activity
            android:name=".hadethcontent.HaadethContentActivity"
            android:exported="false"
            android:theme="@style/Theme.IslamiCompose" />
        <activity
            android:name=".qurencontent.QuranContentActivity"
            android:exported="false"
            android:theme="@style/Theme.IslamiCompose" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.IslamiCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.IslamiCompose" />


        <service
            android:name=".radio.RadioNotification"
            android:foregroundServiceType="mediaPlayback" />


<!--        <receiver android:name=".radio.RadioBroadcastReceiver" />-->

    </application>


</manifest>